<% content_for :header do %>
<style>
   body, html {
   	 font-family:Verdana;
   }
  .sname{
    font-size:11pt;
    font-weight:bolder;
  }
  label {
    font-weight:bold;
  }
  .txtbox {
    width:200px;
	padding:4px;
	border:1px solid #87A4D6;
	background-color:#FAFAFA;
  }
  .btnok {
    margin-top:9pt;
    padding:4px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	background-image:url('<%=image_path('btnlogin-bg.png') %>');
  }
  #msgfailed {
    color: #ff3300;
    display:block;
    padding:10px;
  }
  #body , body {
  	background-repeat:repeat-x;
	background-position:top;
  	background-image:url('<%=image_path('bgshadow1.png') %>');
  }
  html {
  	background-repeat:repeat-x;
	background-position:bottom;
  	background-image:url('<%=image_path('bluebg001.png') %>');
  }
  #body {

  }
  .login-dialog {
  	background-repeat:repeat-x;
	background-position:bottom;
	background-color:#FFFFFF;
  }
</style>
<% end %>

<table width="100%">
	<tr>
		<td align="center">
			<div class="login-dialog" style="width:620px; margin-top:10%;padding:10px; padding-top:20px; border:0px solid #cccccc;">			
			<table>
				<tr>
					<td valign="top" style="border-right:1px solid #cccccc; padding-top:20px;"><%=image_tag('customer_logo.png',{:alt => ''}) %></td>
					<td valign="top" width="500px" style="padding-top:30px;">
					<div align="center" style="margin-top:0px;"><%= image_tag 'ami_logo.gif',{:align => 'middle'} %></div>
					<div align="center" style="margin-top:0px"><span class="sname">AmiVoice<sup>&reg;</sup> Operator's Help System Login</span></div>
					<div align="center" style="margin-top:15px;">
					<% if @reset == false %>
					<% form_tag session_path do -%>
			  			<table cellspacing="2">
				    		<tr><td align="left"><label for="login">Username:</label></td></tr>
				    		<tr><td align="left"><%= text_field_tag 'login',params[:login],{:class => 'txtbox',:autocomplete => 'OFF'} %></td></tr>
				    		<tr><td align="left"><label for="password">Password:</label></td></tr>
				    		<tr><td align="left"><%= password_field_tag 'password',"",{:class => 'txtbox',:autocomplete => 'OFF' } %></td></tr>
				    		<tr><td></td></tr>
				    		<!-- <tr><td align="left"><%= check_box_tag 'remember_me' %> <label for="remember_me">Remember me on this computer</label></td></tr> -->
				    		<tr><td></td></tr>
				    		<tr><td><%= submit_tag ' Log in ',{:class => 'btnok'} %></td></tr>
			  			</table>
					<% end %>
					<% else %>
					<!-- For change password from default -->
					<% form_tag session_path do -%>
					  <%= hidden_field_tag 'change_password','true' %>
					  <table cellspacing="2">
					    <tr><td align="left"><label for="login">Username:</label></td></tr>
					    <tr><td align="left"><%= text_field_tag 'login',params[:login],{:class => 'txtbox', :readonly => true} %></td></tr>
						<tr><td></td></tr>
						<tr><td></td></tr>
						<tr><td>Please enter new password to change your password.</td></tr>
					    <tr><td align="left"><label for="password">New password:</label></td></tr>
					    <tr><td align="left"><%= password_field_tag 'password','',{:class => 'txtbox' } %></td></tr>
					    <tr><td align="left"><label for="password">Confirm new password:</label></td></tr>
					    <tr><td align="left"><%= password_field_tag 'password_confirmation','',{:class => 'txtbox' } %></td></tr>	
					    <tr><td></td></tr>
						<tr><td></td></tr>
					    <tr><td>
					    <%= submit_tag 'Change password',{:class => 'btnok'} %>&nbsp;&nbsp;<input type="button" onclick="javascript:window.location='<%= login_path %>';" class="btnok" value="Cancel"></td></tr>
					  </table>	
					<% end %>
					<% end %>
							<% if true %>
							<span align="center" id="msgfailed"><%=h flash[:loginfailed] %></span>
						<% end %>		
					</td>
				</tr>
			</table>

			</div>			
		</td>
	</tr>
</table>
</div>