<% content_for :header do %>

<%= stylesheet_src_path '/jquery/jquery.timepickr/ui-timepickr/dist/themes/default/ui.timepickr.css' %>
<%= javascript_src_path '/jquery/jquery.masked-input/jquery.maskedinput-1.2.2.min.js' %>
<script type="text/javascript">  
    $(document).ready(function(){
         $("#manager_expired_date").datepicker({ showAnim: 'fold' ,dateFormat: 'yy-mm-dd'});
	 $("#manager_id_card").mask("9999999999999");
	 $("#use_default_p").click(function(){
	    $("#manager_password").val("#USEDEFAULTPASSWORD#");
	    $("#manager_password_confirmation").val("#USEDEFAULTPASSWORD#");
	 });
    });
</script>

<% end %>

<% content_for :submenu do %>
  <div id="submenu">
    <table width="100%">
      <tr>
        <td align="left">
          <ul>
            <li><%= link_image_tag('Back','back.png',{:controller => "managers",:action => 'index'},{:title => 'Back to manager list'}) %></li>
         </ul>
        </td>
        <td align="right">&nbsp;</td>
      </tr>
    </table>
  </div>
<% end %>

<div id="div-block-manager">
    <div class="div-form-default-style1">
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td><span class="span-form-title">New Manager</span></td>
            </tr>
            <tr>
                <td><span class="span-form-name">Manager infomation</span></td>
            </tr>
            <tr>
                <td>
                <%= form_tag :action => 'create' do %>
                <%=display_frm_error(flash[:message]) %>
                <table class="tbl-frm-details" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td width="150px" align="left" valign="top"><label>Username:</label></td>
                    <td>
                        <%= text_field 'manager', 'login', :size => 30, :maxsize => 50, :class =>'input-text' %><span class="span-require">*</span>
                        <br><span class="note">Username must have a minimum of 3 characters</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Display name:</label></td>
                    <td><%= text_field 'manager', 'display_name', :size => 30, :maxsize => 50,:class =>'input-text' %><span class="span-require">*</span></td>
                </tr>
                <tr>
                    <td><label>E-mail:</label></td>
                    <td><%= text_field 'manager', 'email', :size => 50, :maxsize => 50,:class =>'input-text' %>
					<br><span class="note">E-mail address must use format "youremail@domainname"</span>
					</td>
                </tr>
				<!-- ID CARD-->					
                <tr>
                   <td><label>Citizen ID:</label></td>
                   <td><%= text_field 'manager','id_card',:size => 13,:maxsize => 13,:class => 'input-text' %>
				   <br><span class="note">Citizen ID is composed of 13 digits.</span>
				   </td>
                </tr>								
                <tr>
                   <td><label>CTI Agent ID:</label></td>
                   <td><%= text_field 'manager','cti_agent_id', :size => 30, :maxsize => 13,:class => 'input-text' %></td>
                </tr>
               <tr>
                <td><label for="sex">Sex:</label></td>
                <td><%= select 'manager',"sex",{:Undefine=>"u",:Male => "m",:Female => "f"} %><span class="span-require">*</span></td>
               </tr>
                <tr>
                    <td><label>Role:</label></td>
                    <td><%= collection_select 'manager','role_id', Role.managers.select("id,name").order('name'), :id, :name,{:class =>'input-text'} %><span class="span-require">*</span></td>
                </tr>
                <tr><td></td><td>&nbsp;</td></tr>
		    <tr><td colspan="2" style="font-weight:bold;">Authentication Information:</td></tr>
                <tr>
                    <td valign="top"><label>Password:</label></td>
                    <td>
                        <%= password_field 'manager', 'password', :size => 25, :maxsize => 20,:class =>'input-text' %><span class="span-require">*</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" id="use_default_p" name="use_default_p" value="Use Default Password"/>
			<br><span class="note">Password must have a minimum of 6 characters</span>
                    </td>
                </tr>
                <tr>
                    <td><label>Confirm password:</label></td>
                    <td><%= password_field 'manager', 'password_confirmation', :size => 25, :maxsize => 20,:class =>'input-text' %><span class="span-require">*</span></td>
                </tr>
                <tr>
                    <td valign="top"><label>Login expired date:</label></td>
                    <td><%= text_field 'manager','expired_date',:class => 'input-text'%>
                    <br><span class="note">Date format is "yyyy-mm-dd"</span></td>
                </tr>
                <tr><td></td><td>&nbsp;</td></tr>
                <tr>
                    <td></td>
                    <td><%= submit_tag "Add",{:class => 'btnAccept'} %>&nbsp;&nbsp;<%#= submit_tag "Reset",{:type => 'Reset',:class => 'btnAccept'} %></td>
                </tr>
                </table>
                <% end %>
                </td>
        </table>
    </div>
</div>

