  <% content_for :header do %>
    <%= stylesheet_src_path '/jquery/jquery.contextMenu/jquery.contextMenu.css' %>
    <%= stylesheet_src_path '/jquery/jquery-tooltip/jquery.tooltip.css' %>
	<%= stylesheet_src_path '/jquery/jquery.menu/menu.css' %>
    <%= javascript_src_path '/jquery/jquery.menu/jquery.menu.js' %>
    <%#= javascript_src_path '/jquery/jquery.menu/demo/jquery.dimensions.min.js' %>
    <%= javascript_src_path '/jquery/jquery.contextMenu/jquery.contextMenu.js' %>
    <%= javascript_src_path '/jquery/jquery-tooltip/jquery.tooltip.js' %>
    <style type="text/css">
      #vcpage {
          width:45px;
          font-size:10px;
          border:1px solid #b4e1ff;
          text-align:center;
          font-weight:bold;
          color: #003399;
		  padding:1px;
      }
      #perpage {
          width:20px;
          font-size:10px;
          border:1px solid #b4e1ff;
          text-align:center;
          color: #003399;
		  padding:1px;
      }	  
      #div-tblCtrl {
          background:url('<%= image_src_path('bg002.png') %>');
          background-position:bottom;
          border-bottom:1px #b4e1ff solid;
      }
      #div-tblCtrl td {
          padding-top:1px;
          padding-bottom:1px;
          font-size:11px;
      }
      .tbl-header th {
          background:url('<%= image_src_path('bg002.png') %>');
          background-position:top;
          border-left:1px solid #b4e1ff;
          text-align:center;
          padding-top:2px;
          padding-bottom:2px;
          padding-left:0px;
          padding-right:0px;          
          font-size:8pt;
      }
      .tbl-summary th {
          background:url('<%= image_src_path('bg002.png') %>');
          background-position:top;
          border-left:1px solid #b4e1ff;
          border-top:1px solid #3399ff;
          border-bottom:1px solid #3399ff;
          text-align:center;
          padding-top:2px;
          padding-bottom:2px;
          padding-left:2px;
          padding-right:2px;
          font-size:8pt;
      }
	  .tbl-header th a:visited {
	  	  text-decoration:underline;
		  color:#000000;
	  }
      .tbl-header td {
          padding-top:0px;
          padding-bottom:0px;          
          padding-left:2px;
          padding-right:2px;
      }
      #div-tbl-inner {
          border-top:1px #b4e1ff solid;
      }
      #div-tbl-inner {
          overflow:scroll;
          overflow-x:hidden;
          background:#ffffff;
      }
      #div-tbl-outer {
          overflow:hidden;
      }
      #div-tbl-outer {
          background:url('<%= image_src_path('bg002.png') %>');
          background-repeat:repeat-x;
          background-position: top;
      }
      #mytable td {
          font-size:11px;
          border-left:1px solid #b4e1ff;
          border-bottom:1px solid #b4e1ff;
          padding-top:1px;
          padding-bottom:1px;
          padding-left:2px;
          padding-right:2px;
      }
      #mytable th {
          padding:0px;
          padding-left:2px;
          padding-right:2px;
      } 
      #mytable .odd {
          background: #fafdff;
      }
      #mytable .even {
          background: #f1f8ff;
      }
	  #mytable .specify-red {
 	      color:#FF3322;
		  background-color:#FFDDEE;
      }
      #mytable .click {
          background-color:#C5DBEC;
      }
      td .no-item {
          background:url('<%= image_src_path('bg012.png') %>');
      }
      #mytable .rowSelected {
          background: #bfdfff;
      }
      #mytable .item-ctrl {
          padding-left:0px;
      }
      #mytable .rowSelectedPlay {
          background: #c2ffc2;
      }
      ul.call-button {
      	list-style:none;
		margin:0px;
		margin-left:2px;
		padding:0px;
      }
	  ul.call-button li {
	  	margin:0px;
		padding:1px;
		float:left;
		cursor:pointer;
	  }
	  ul.tool-action {
		margin:0px;
		padding:0px;	  	
	  }
	  ul.tool-action li {
		margin:0px;
		padding:0px;
		cursor:pointer;	  	
	  }
      .summary-title { color: #333333; }
      .summary-result {}
    html,body {
    	overflow:hidden;
    }
    </style>

    <script type="text/javascript">
      
	  var currentVoice = null;
	  var currentVoices = {};
	  
      var ctrlPage = {
          currentPage: 0,
          selectPage: 0,
          totalPage: 0,
		  perPage: 0,
		  defaultPerPage: parseInt("<%=@numbers_of_display %>"),
		  maxPerPage: parseInt("<%= AmiConfig.get('client.aohs_web.maxNumberOfCallPerPage').to_i %>")
      }
	 
      var ctrlSort = {
          colName: "",
          order: ""
      }
      
      var rowCycle = ['odd','even'];

      function pageReset(){
          ctrlPage.totalPage = 0;
          ctrlPage.currentPage = 0;
          ctrlPage.selectPage = 0;
      }

      function progressEnabled(enabled){

          if(enabled){
             $("#div-loading").css("display","block");
             $("#div-summary").css("display","none");
          } else {
             $("#div-loading").css("display","none");
             $("#div-summary").css("display","block"); 
          }

      }

      function pageSetting(total_page,current_page,total_recs){

          var strpage = "";

          strpage = current_page + " of " + total_page;
          
          $('#rec-all').html(number_with_delimiter(parseInt(total_recs)));
          $('#vcpage').val(strpage);

          ctrlPage.totalPage = parseInt(total_page);
          ctrlPage.currentPage = parseInt(current_page);
          ctrlPage.selectPage = parseInt(current_page);
          
      }

      function onSearchVocieWithPage(){
          ctrlPage.currentPage = ctrlPage.selectPage
          searchVoice();
      }

      function onClickSortCols(colName){
        if(ctrlSort.colName.toString() == colName.toString()){
            if(ctrlSort.order == "desc")
                ctrlSort.order = "asc";
            else
                ctrlSort.order = "desc";
        } else {
            ctrlSort.colName = colName;
            ctrlSort.order = "asc";
        }
        pageReset();
        searchVoice();
      }
      
      function gotoNextPage(){
          if((ctrlPage.currentPage + 1) <= ctrlPage.totalPage){
             ctrlPage.selectPage = ctrlPage.currentPage + 1;
             onSearchVocieWithPage();
          } else {
             //alert("Sorry! This page is last page.");
          }
      }

      function gotoPrevPage(){
          if((ctrlPage.currentPage -1) >= 1){
             ctrlPage.selectPage = ctrlPage.currentPage - 1;
             onSearchVocieWithPage(); 
          } else {
             //alert("Sorry! This is first page.")
          }
      }

      function gotoSelectPage(page){
          if((page >= 1) && (page <= ctrlPage.totalPage)){
              ctrlPage.selectPage = page;
              onSearchVocieWithPage();
          } else {
              alert("Sorry! your page is out of range.")
          }
      }

      function gotoFirstPage(){
          var page = 1;
          gotoSelectPage(page);
      }

      function gotoLastPage(){
          var page = ctrlPage.totalPage;
          gotoSelectPage(page);
      }

      function onSelectPage(){
          var page = $("input[name=vcpage]").val();
          if((parseInt(page) > 0) && (parseInt(page) <= ctrlPage.totalPage)){
             gotoSelectPage(page);
          } else {
             var strpage = ctrlPage.currentPage + " of " + ctrlPage.totalPage;
             $('#vcpage').val(strpage); 
          }
      }

      function onClickSelectPage(){
          $("input[name=vcpage]").val("");
      }

      function loadSummaryData(data){
          try{
              $("#sDur").html(data['sum_dura']);
              $("#sNG").html(data['sum_ng']);
              $("#sMU").html(data['sum_mu']);
              $("#sCallIn").html(data['c_in']);
              $("#sCallOut").html(data['c_out']);
              $("#sCallOther").html(data['c_oth']);
          }catch(e){
              $("#sDur").html("-");
              $("#sNG").html("-");
              $("#sMU").html("-");
              $("#sCallIn").html("-");
              $("#sCallOut").html("-");
              $("#sCallOther").html("-");
          }
      }
	  
	  function applyClickRow(){
	  	
	  }
	  
      function loadDataTable(data){
          
		  var targetTable = $("#mytable tbody");
		  var rows = "";
          var rows_count = 0;
          var first_row = 0;
          var vc_data = data['data'];
          var page_info = data['page_info'];
          var summary = data['summary'];		  
		  
          targetTable.html();
          
          try
		  {
		  	tl_stdate = page_info['tl_stdate'];
		  }catch(e){ }

          try
		  {
   			pageSetting(page_info['total_page'],page_info['current_page'],page_info['rec_count']);  
          }catch(e){
            pageSetting(0,0,0);
          }
		         
          loadSummaryData(summary);
		  currentVoices = {};
		  
          var vc_length = vc_data.length;
          var id = 0;
          while(id < vc_length){          	
                var vc = vc_data[id];            	
				var row = "";
			    currentVoices[vc['id'].toString()] = {id: vc['id'], url: vc['path'], row: (id + 1) };
				
                if(first_row <= 0)
                    first_row = parseInt(vc['no']);
                rows_count += 1;
                				
				var redrow = "";
				if(parseInt(vc['dmin']) >=30){
					redrow = "specify-red";
				}
				
				var menu;
				
				row += "<tr class=\"" + rowCycle[rows_count % 2] + " " + redrow + " " + "myRow\" id=\"rowAt" + (id + 1) + "\" onclick=\"highLightClickRow(this)\">";
                row += "<td width=\"40px\" class=\"no-item\">" + number_with_delimiter(parseInt(vc['no'])) + "</td>";
                row += "<td width=\"50px\" align=\"center\" class=\"item-ctrl\">";
                if((vc['open'] == true) || (vc['open'] == "true")){
                row += "<input type=\"hidden\" name=\"audioUrl-" + (id + 1) + "\" value=\"" + vc['path'] + "\">";
                } else {
                row += "<input type=\"hidden\" name=\"audioUrl-" + (id + 1) + "\" value=\"\">";
                }
                row += "<input type=\"hidden\" name=\"audioId-" + (id + 1) + "\" value=\"" + vc['id'] + "\">";
                row += "<input type=\"hidden\" name=\"vc_id\" value=\"" + vc['id'] + "\">";
                row += "<input type=\"hidden\" name=\"rowNo\" value=\"" + (id + 1) + "\">";
                if((vc['open'] == true) || (vc['open'] == "true")){
					menu = "<ul class=\"call-button\" voice_id='" + vc['id'] + "'><li act='play' onclick=\"voiceButton("+ vc['id'] +",'play')\"><img src='<%= image_path('speaker.gif') %>'/></li><li act='more' onclick=\"voiceButton("+ vc['id'] +",'more')\"><img src='<%= image_path('detail.png') %>'/></li><li act='tool' title=\"Tag - " + vc['tags'] + "\" class=\"btntool myToolTip\" onclick=\"voiceButton("+ vc['id'] +",'tool')\"><img src='<%= image_path('more.gif') %>'/></li></ul>";
                } else {
					menu = "<ul class=\"call-button\" voice_id='" + vc['id'] + "'><li act='no-play'><img src='<%= image_path('speaker2.gif') %>'/></li><li act='no-more'><img src='<%= image_path('detail2.png') %>'/></li><li act='tool' title=\"Tag - " + vc['tags'] + "\" class=\"no-btntool myToolTip\"><img src='<%= image_path('more2.gif') %>'/></li></ul>";                  
                }
                row += menu + "</td>";
                row += "<td width=\"110px\">" + vc['sdate'] + "</td>";
                row += "<td width=\"55px\" align=\"right\">" + vc['duration']+"&nbsp;</td>";
                row += "<td width=\"70px\">" + vc['ani'] + "&nbsp;</td>";
                row += "<td width=\"70px\">" + vc['dnis'] + "&nbsp;</td>";
                row += "<td width=\"40px\">" + vc['ext'] + "&nbsp;</td>";
                row += "<td width=\"150px\">" + vc['agent'] + "</td>";
                row += "<td width=\"55px\" align=\"center\"><span class=\"cd-color-" + vc['cd_c'] + "\">" + vc['cd'] + "</span></td>";
                row += "<td width=\"35px\" align=\"right\" class=\"ngword\"><span class=\"keyword-tip\" words=\"NG\">" + vc['ngc'] + "</span></td>";
                row += "<td width=\"35px\" align=\"right\" class=\"mustword\"><span class=\"keyword-tip\" words=\"Must\">" + vc['mustc'] + "</span></td>";
                row += "<td width=\"60px\" align=\"right\">" + vc['bookc'] + "</td>";
		row += "<td width=\"40px\" align=\"right\">" + vc['dev'] + "</td>";
                row += "<td width=\"35px\">&nbsp;</td>";
                row += "<td width=\"3px\">&nbsp;</td>" + "</tr>";
                rows += row;
				id++;
          }

          if(rows_count == 0){
            onVoiceReset(0);
            rows = "";
            rows = "<tr><td colspan=\"14\" align=\"center\">Record not found.</td></tr>";
          } else {
            onVoiceReset(rows_count);  
            rows_count -= 1; 
          }

          var row = "";
          row += "<tr>";
          row += "<th width=\"40px\"><%= (image_tag("padding.png",{:width => "40px", :height => '1px' })).gsub("\"","\\\"") %></th>";
          row += "<th width=\"50px\"><%= (image_tag("padding.png",{:width => "50px", :height => '1px' })).gsub("\"","\\\"") %></th>";
          row += "<th width=\"110px\"><%= (image_tag("padding.png",{:width => "110px", :height => '1px' })).gsub("\"","\\\"") %></th>";
          row += "<th width=\"55px\"><%= (image_tag("padding.png",{:width => "55px", :height => '1px' })).gsub("\"","\\\"") %></th>";
          row += "<th width=\"70px\"><%= (image_tag("padding.png",{:width => "70px", :height => '1px' })).gsub("\"","\\\"") %></th>";
          row += "<th width=\"70px\"><%= (image_tag("padding.png",{:width => "70px", :height => '1px' })).gsub("\"","\\\"") %></th>";
          row += "<th width=\"40px\"><%= (image_tag("padding.png",{:width => "40px", :height => '1px' })).gsub("\"","\\\"") %></th>";
          row += "<th width=\"150px\"><%= (image_tag("padding.png",{:width => "150px", :height => '1px' })).gsub("\"","\\\"") %></th>";
          row += "<th width=\"55px\"><%= (image_tag("padding.png",{:width => "55px", :height => '1px' })).gsub("\"","\\\"") %></th>";
          row += "<th width=\"35px\"><%= (image_tag("padding.png",{:width => "35px", :height => '1px' })).gsub("\"","\\\"") %></th>";
          row += "<th width=\"35px\"><%= (image_tag("padding.png",{:width => "35px", :height => '1px' })).gsub("\"","\\\"") %></th>";
          row += "<th width=\"60px\"><%= (image_tag("padding.png",{:width => "60px", :height => '1px' })).gsub("\"","\\\"") %></th>";
	  row += "<th width=\"40px\"><%= (image_tag("padding.png",{:width => "40px", :height => '1px' })).gsub("\"","\\\"") %></th>";
          row += "<th width=\"310px\"><%= (image_tag("padding.png",{:width => "310px", :height => '1px' })).gsub("\"","\\\"") %></th>";          
          row += "<th width=\"10px\"><%= (image_tag("padding.png",{:width => "10px", :height => '1px' })).gsub("\"","\\\"") %></th>";
          row += "<th width=\"3px\"></th>"
          row += "</tr>";
          rows += row;
                   
          targetTable.html(rows);
          
		  vc_data = null;
		  summary = null;
		  rows = null;
		  data = null;
		  
          $('#rec-start').html(number_with_delimiter(parseInt(first_row)));
          $('#rec-end').html(number_with_delimiter(parseInt(first_row + rows_count)));

          resetTableStyle();		  
		  progressEnabled(false); 
      }

      function openCallDialog(id){
          var rurl = "<%= url_for(:controller => 'voice_logs',:action => 'show') %>" + "/" + id;
          var window1 = window.open(rurl,"",'menubar=no,scrollbars=no,location=yes,resizable=yes');
      }
	  function loadKeywordTooltip(ele){
	  }
	  function applyKeywordTooltip(){
	  }
	  function applyToolButton(){
		$(".btntool").mouseover(function(){
			if($(".btntool",$(this).parent()).attr("loaded") != "loaded"){
				$(".btntool",$(this).parent()).attr("loaded","loaded").menu({
				minWidth: 115, 
				showDelay: 0,
				hideDelay: 0
				},'.tool-action');
			}
		});
	  }
	  function applyCallTagToolTip(){
          $(".myToolTip").tooltip({
              showBody: " - ",
              positionLeft: true
          });	  	
	  }
      function voiceButton(id,act){
		  currentVoice = currentVoices[id];
		  callAction(act)          
      }
      function highLightClickRow(ele){
		  $("#mytable tr").removeClass('click');
		  $(ele).addClass('click');          
      }	  
      function resetTableStyle(){		  
		  applyToolButton();
		  applyCallTagToolTip();
      }

      function checkNum(){
        var carCode = event.keyCode;
        if ((carCode < 48) || (carCode > 57)){
	        event.cancelBubble = true
	        event.returnValue = false;
	    }
      }
	function number_with_delimiter(number, delimiter) {
		number = number + '', delimiter = delimiter || ',';
		var split = number.split('.');
		split[0] = split[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1' + delimiter);
		return split.join('.');
	}
	
	function pageChecker(){
		$("input[name=perpage]").change(function(){
			var t = $(this);
			var p = parseInt(t.val()) || ctrlPage.defaultPerPage;
			if((p > 0) && (p <= ctrlPage.maxPerPage)){
				t.val(p);
				ctrlPage.perPage = p;
			} else {
				ctrlPage.perPage = ctrlPage.defaultPerPage;
				t.val(ctrlPage.defaultPerPage);
			} 
		});		
	}
	
	function callAction(a){
	  	switch (true){
			case a == "play":
				onVoiceLoad(parseInt(currentVoice.row));
				break;
		 	case a == "no-play":
			    //alert("You not have permission for this voice");
				break;				
			case a=="more": 
			    openCallDialog(currentVoice.id);
				break;
		 	case a == "no-more":
			    //alert("You not have permission for this voice");
				break;				
			case a=="load":
			    loadAudioFile(currentVoice.id); 
				break;
			case a=="addt": 
				openAddTagDialog(currentVoice.id,currentVoice.row);
				break;
			case a=="remt":
				removeTagDialog(currentVoice.id,currentVoice.row);
				break;
			default:
				// not thing
		}		
	}
	
	$(document).ready(function(){
          
          $("#div-loading").css("display","none");
          $("#div-exporting").css("display","none");

          var options = {minWidth: 100};
          $("#btnExport").menu(options,'#exportli');

          var options = {minWidth: 100};
          $("#btnPrint").menu(options,'#printli');
         
		  ctrlPage.perPage = ctrlPage.defaultPerPage;
		  
          try{
             resizeWindow();
          }
          catch(e){
              
          }
		  pageChecker();
		  
  		  $(".cbtn").click(function(){
			callAction($(this).attr('act'));
		  });
		  
      });

    </script>
    
<% end %>
<!-- EXPORT -->
<ul id="exportli" style="display:none">
	<li><a href="#" onclick="vc_export(true)">All page</a></li>
	<li><a href="#" onclick="vc_export(false)">Current page</a></li>
</ul>
<ul id="printli" style="display:none">
	<li><a href="#" onclick="vc_print(true)">All page</a></li>
	<li><a href="#" onclick="vc_print(false)">Current page</a></li>
</ul>
<!-- ACTION -->
<ul class="tool-action" style="display:none;">
	<!--<li act="More"><span class="cbtn" act="more">More Information</span></li>-->
	<% if permission_by_name('voice_logs-download') %>
	<li act="Download"><span class="cbtn" act="load">Download File</span></li>
	<% end %>
	<% if permission_by_name('favorites-upd') %>
	<li act="AddT"><span class="cbtn" act="addt">Add Tag</span></li>
	<li act="RemoveT"><span class="cbtn" act="remt">Remove Tag</span></li>
	<% end %>
</ul>
<!-- VIEW -->
<div>
	<div id="div-tblCtrl">
      <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td align="left">
             <span id="div-summary">&nbsp;               
               <span class="summary-title">NG:</span> <span id="sNG" class="summary-result">00</span>&nbsp;&middot;
               <span class="summary-title">Must:</span> <span id="sMU" class="summary-result">00</span>&nbsp;&middot;
			   <span class="summary-title">Duration:</span> <span id="sDur" class="summary-result">00:00</span>&nbsp;&middot;
               <span class="summary-title">In:</span> <span id="sCallIn" class="summary-result">00:00</span>&nbsp;&middot;
               <span class="summary-title">Out:</span> <span id="sCallOut" class="summary-result">00:00</span>&nbsp;&middot;
               <span class="summary-title">Other:</span> <span id="sCallOther" class="summary-result">00:00</span>
             </span>
             <span id="now_tag" style="font-weight:bold;"></span>
             <span id="div-loading"> <%= image_tag('page_ctrl/load.gif',{:align => 'absmiddle'}) %> Please wait while processing.</span>
             <span id="div-exporting"> <%= image_tag('page_ctrl/load.gif',{:align => 'absmiddle'}) %> Please wait while export processing.</span>
          </td>
          <td width="440px" align="right">
             View <span id="rec-start">0</span> - <span id="rec-end">0</span>&nbsp;of&nbsp;<span id="rec-all">0</span> 
             <%=image_tag("topgrad.png",{:width => "1px", :height => '20px',:align => 'absmiddle' })%>
             <a href="#" title="First page"><%= image_tag(image_src_path('page_ctrl/first_page.gif'),{:border => 0,:align => 'absmiddle',:alt => 'Goto first page', :onclick => 'gotoFirstPage();'})%></a>
             <a href="#" title="Previous page"><%= image_tag(image_src_path('page_ctrl/previous_page.gif'),{:border => 0,:align => 'absmiddle',:alt => 'Goto previous page',:onclick => 'gotoPrevPage();'})%></a>
             <input title="Number of page(s)" type="text" name="vcpage" id="vcpage" value="" onClick="onClickSelectPage();" onKeyPress="checkNum();" onblur="onSelectPage();">
             <a href="#" title="Next page"><%= image_tag(image_src_path('page_ctrl/next_page.gif'),{:border => 0,:align => 'absmiddle',:alt => 'Goto next page',:onclick => 'gotoNextPage();'})%></a>
             <a href="#" title="Last page"><%= image_tag(image_src_path('page_ctrl/last_page.gif'),{:border => 0,:align => 'absmiddle',:alt => 'Goto last page',:onclick => 'gotoLastPage();'})%></a>
             <%=image_tag("bg004.png",{:width => "1px", :height => '20px',:align => 'absmiddle' })%>
			  Rows/page: <input type="text" name="perpage" id="perpage" value="<%=@numbers_of_display %>" title="number of row(s) per page, max[<%= AmiConfig.get('client.aohs_web.maxNumberOfCallPerPage')%>]">
			 <% if permission_by_name('voice_logs-exp') %>
             <%=image_tag("topgrad.png",{:width => "1px", :height => '20px',:align => 'absmiddle' })%> 
             <a href="#" id="btnExport" title="Text CSV"><%= image_tag(image_src_path('mimetype/spreadsheet.png'),{:border => 0,:align => 'absmiddle',:alt => 'CSV'})%>&nbsp;CSV&nbsp;</a>
             <a href="#" id="btnPrint" title="PDF"><%= image_tag(image_src_path('mimetype/pdf.png'),{:border => 0,:align => 'absmiddle',:alt => 'PDF'})%>&nbsp;PDF&nbsp;</a>&nbsp;
             <% end %>
          </td>
        </tr>
      </table>
    </div>
    <div id="div-tbl-all">	    	
      <div id="div-tbl-outer">	  
      <table cellspacing="0" cellpadding="0" class="tbl-header">
        <tr>
          <th width="40px">No</th>
          <th width="50px">Action</th>
          <th width="108px"><a href="#" onclick="onClickSortCols('start_time');">DateTime</a></th>
          <th width="55px"><a href="#" onclick="onClickSortCols('duration');">Duration</a></th>
          <th width="70px"><a href="#" onclick="onClickSortCols('ani');">Caller</a></th>
          <th width="70px"><a href="#" onclick="onClickSortCols('dnis');">Dialed</a></th>
          <th width="40px"><a href="#" onclick="onClickSortCols('extension');">Ext</a></th>
          <th width="150px"><a href="#" onclick="onClickSortCols('agent_name');">Agent</a></th>
          <th width="55px"><a href="#" onclick="onClickSortCols('call_direction');">Direction</a></th>
          <th width="35px"><a href="#" onclick="onClickSortCols('ngword_count');">NG</a></th>
          <th width="35px"><a href="#" onclick="onClickSortCols('mustword_count');">Must</a></th>
          <th width="60px"><a href="#" onclick="onClickSortCols('bookmark_count');">Bookmark</a></th>
	  <th width="40px"><a href="#" onclick="onClickSortCols('device_id');">Device</a></th>
          <th width="310px">&nbsp;</th>
          <th width="3px">&nbsp;</th>
        </tr>
        <tr>
          <td><%=image_tag("padding.png",{:width => "41px", :height => '1px' })%></td>
          <td><%=image_tag("padding.png",{:width => "50px", :height => '1px' })%></td>
          <td><%=image_tag("padding.png",{:width => "110px", :height => '1px' })%></td>
          <td><%=image_tag("padding.png",{:width => "55px", :height => '1px' })%></td>
          <td><%=image_tag("padding.png",{:width => "70px", :height => '1px' })%></td>
          <td><%=image_tag("padding.png",{:width => "70px", :height => '1px' })%></td>
          <td><%=image_tag("padding.png",{:width => "40px", :height => '1px' })%></td>
          <td><%=image_tag("padding.png",{:width => "150px", :height => '1px' })%></td>
          <td><%=image_tag("padding.png",{:width => "55px", :height => '1px' })%></td>
          <td><%=image_tag("padding.png",{:width => "35px", :height => '1px' })%></td>
          <td><%=image_tag("padding.png",{:width => "35px", :height => '1px' })%></td>
          <td><%=image_tag("padding.png",{:width => "60px", :height => '1px' })%></td>
	  <td><%=image_tag("padding.png",{:width => "40px", :height => '1px' })%></td>
          <td><%=image_tag("padding.png",{:width => "310px", :height => '1px' })%></td>          
          <td><%=image_tag("padding.png",{:width => "3px", :height => '1px' })%></td>
        </tr>
      </table>
      <div id="div-tbl-inner">
        <table cellspacing="0" cellpadding="0" id="mytable">
          <thead></thead>
          <tbody></tbody>
        </table>
      </div>      
      </div>
    </div>
</div>