<% content_for :header do %>
    <%= stylesheet_src_path '/jquery/jquery.contextMenu/jquery.contextMenu.css' %>
    <%= stylesheet_src_path '/jquery/jquery-tooltip/jquery.tooltip.css' %>
	<%= stylesheet_src_path '/jquery/jquery.menu/menu.css' %>
    <%= stylesheet_src_path 'voice_logs_table.css' %>
    <%= javascript_src_path '/jquery/jquery.menu/jquery.menu.js' %>
    <%= javascript_src_path '/jquery/jquery.contextMenu/jquery.contextMenu.js' %>
    <%= javascript_src_path '/jquery/jquery-tooltip/jquery.tooltip.js' %>
    
    <script type="text/javascript">
      
	  var currentVoice = null;
	  var currentVoices = {};
	  var cols_width_th = [40,50,108,55,70,70,70,40,150,55,35,35,60,350];
	  var cols_width_td = [40,50,110,55,70,70,70,40,150,55,35,35,60,35];
	  var cols_width = 0;
	  var highLightRows = {
	  	red_color : parseInt("<%= $CF.get('client.aohs_web.highLightRow.Red') %>")
	  }
	  var vlTbl = { 
	  	col_keywords_show: App.to_boolean("<%= Aohs::MOD_KEYWORDS %>"),
		col_cust_show: App.to_boolean("<%= Aohs::MOD_CUSTOMER_INFO %>"),
		col_car_show: App.to_boolean("<%= Aohs::MOD_CUSTOMER_INFO %>"),
		showKeywTip: App.to_boolean("<%= $CF.get('client.aohs_web.showKeywordTooltip') %>"),
		showTagTip: App.to_boolean("<%= $CF.get('client.aohs_web.showTagTooltip') %>"),
		enaRowHover: App.to_boolean("<%= $CF.get('client.aohs_web.enableVoiceRowHover') %>")
	  };
	  
      var ctrlPage = {
          currentPage: 0,
          selectPage: 0,
          totalPage: 0,
		  perPage: 0,
		  defaultPerPage: parseInt("<%=@numbers_of_display %>"),
		  maxPerPage: parseInt("<%= $CF.get('client.aohs_web.maxNumberOfCallPerPage').to_i %>")
      }
	 
      var ctrlSort = {
          colName: "",
          order: ""
      }
      
      var rowCycle = ['odd','even'];

      function pageReset(){
          ctrlPage.totalPage = 0;
          ctrlPage.currentPage = 0;
          ctrlPage.selectPage = 0;
      }

      function progressEnabled(enabled){
          if(enabled){
             $("#div-loading").css("display","block");
             $("#div-summary").css("display","none");
          } else {
             $("#div-loading").css("display","none");
             $("#div-summary").css("display","block"); 
          }
      }

      function pageSetting(total_page,current_page,total_recs){

          var strpage = "";

          strpage = current_page + " of " + total_page;
          
          $('#rec-all').html(number_with_delimiter(parseInt(total_recs)));
          $('#vcpage').val(strpage);

          ctrlPage.totalPage = parseInt(total_page);
          ctrlPage.currentPage = parseInt(current_page);
          ctrlPage.selectPage = parseInt(current_page);
          
      }

      function onSearchVocieWithPage(){
          ctrlPage.currentPage = ctrlPage.selectPage
          searchVoice();
      }

      function onClickSortCols(colName){
        if(ctrlSort.colName.toString() == colName.toString()){
            if(ctrlSort.order == "desc")
                ctrlSort.order = "asc";
            else
                ctrlSort.order = "desc";
        } else {
            ctrlSort.colName = colName;
            ctrlSort.order = "asc";
        }
        pageReset();
        searchVoice();
      }
      
      function gotoNextPage(){
          if((ctrlPage.currentPage + 1) <= ctrlPage.totalPage){
             ctrlPage.selectPage = ctrlPage.currentPage + 1;
             onSearchVocieWithPage();
          } else {
             //alert("Sorry! This page is last page.");
          }
      }

      function gotoPrevPage(){
          if((ctrlPage.currentPage -1) >= 1){
             ctrlPage.selectPage = ctrlPage.currentPage - 1;
             onSearchVocieWithPage(); 
          } else {
             //alert("Sorry! This is first page.")
          }
      }

      function gotoSelectPage(page){
          if((page >= 1) && (page <= ctrlPage.totalPage)){
              ctrlPage.selectPage = page;
              onSearchVocieWithPage();
          } else {
              alert("Sorry! your page number is out of range.")
          }
      }

      function gotoFirstPage(){
          var page = 1;
          gotoSelectPage(page);
      }

      function gotoLastPage(){
          var page = ctrlPage.totalPage;
          gotoSelectPage(page);
      }

      function onSelectPage(){
          var page = $("input[name=vcpage]").val();
          if((parseInt(page) > 0) && (parseInt(page) <= ctrlPage.totalPage)){
             gotoSelectPage(page);
          } else {
             var strpage = ctrlPage.currentPage + " of " + ctrlPage.totalPage;
             $('#vcpage').val(strpage); 
          }
      }

      function onClickSelectPage(){
          $("input[name=vcpage]").val("");
      }

      function loadSummaryData(data){
          try{
              $("#sDur").html(data['sum_dura']);
              $("#sNG").html(data['sum_ng']);
              $("#sMU").html(data['sum_mu']);
              $("#sCallIn").html(data['c_in']);
              $("#sCallOut").html(data['c_out']);
              $("#sCallOther").html(data['c_oth']);
          }catch(e){
              $("#sDur").html("-");
              $("#sNG").html("-");
              $("#sMU").html("-");
              $("#sCallIn").html("-");
              $("#sCallOut").html("-");
              $("#sCallOther").html("-");
          }
      }
	  
	  function applyClickRow(){ }
	  
      function loadDataTable(data){
          
		  var targetTable = $("#mytable tbody");
		  var rows = "";
          var rows_count = 0;
          var first_row = 0;
          var vc_data = data['data'];
          var page_info = data['page_info'];
          var summary = data['summary'];		  
		  var found_tranfer = false;
          targetTable.html("");
          try { tl_stdate = page_info['tl_stdate']; } catch(e){ }

          try {
   			pageSetting(page_info['total_page'],page_info['current_page'],page_info['rec_count']);  
          } catch(e) {
            pageSetting(0,0,0);
          }
		  
          loadSummaryData(summary);
		  currentVoices = {};
		  
          var vc_length = vc_data.length;
          var id = 0;
          while(id < vc_length){
                var vc = vc_data[id];            	
		var row = "";
		currentVoices[vc['id'].toString()] = {id: vc['id'], url: vc['path'], row: (id + 1) };
                if(first_row <= 0)
                    first_row = parseInt(vc['no']);
                rows_count += 1;

		var redrow = "";
		if((highLightRows.red_color > 0) && (parseInt(vc['dmin']) >= highLightRows.red_color)){
		    redrow = "specify-red";
		}

		var expand_calls = "";
		if (vc['trfc'] == true) {
                    expand_calls = "<div class='btntrf' btnstate=\"load\" onclick=\"TransferButton(this);\"><img src='<%= image_path('tree_icon/expand_icon2.gif') %>' alt='show transfer calls.'/></div>";
                    found_tranfer = true;
                } 
		var menu;
                if((vc['open'] == true) || (vc['open'] == "true")){
		    menu = "<ul class=\"call-button\" voice_id='" + vc['id'] + "'><li act='play' onclick=\"voiceButton("+ vc['id'] +",'play')\"><img src='<%= image_path('speaker.gif') %>'/></li><li act='more' onclick=\"voiceButton("+ vc['id'] +",'more')\"><img src='<%= image_path('detail.png') %>'/></li><li act='tool' title=\"Tag - " + vc['tags'] + "\" class=\"btntool myToolTip\" onclick=\"voiceButton("+ vc['id'] +",'tool')\"><img src='<%= image_path('more.gif') %>'/></li></ul>";
                } else {
		    vc['path'] = "";
		    menu = "<ul class=\"call-button\" voice_id='" + vc['id'] + "'><li act='no-play'><img src='<%= image_path('speaker2.gif') %>'/></li><li act='no-more'><img src='<%= image_path('detail2.png') %>'/></li><li act='tool' title=\"Tag - " + vc['tags'] + "\" class=\"no-btntool myToolTip\"><img src='<%= image_path('more2.gif') %>'/></li></ul>";                  
                }

		row += "<tr class=\"" + rowCycle[rows_count % 2] + " " + redrow + " " + "myRow\" id=\"rowAt" + (id + 1) + "\" row_parent=\"0\" row_no=\"" + (id + 1) + "\" audiourl=\"" + vc['path'] + "\" play_offset_sec=\"" + vc['offset_sec'] + "\" onclick=\"highLightClickRow(this)\">";	
                row += "<td width=\"40px\" class=\"no-item\"><div class=\"div-no\">" + number_with_delimiter(parseInt(vc['no'])) + "</div>" + expand_calls + "</td>";
                row += "<td width=\"50px\" align=\"center\" class=\"item-ctrl\">";
                if((vc['open'] == true) || (vc['open'] == "true")){
                    row += "<input type=\"hidden\" name=\"audioUrl-" + (id + 1) + "\" value=\"" + vc['path'] + "\">";
                }
		else {
                    row += "<input type=\"hidden\" name=\"audioUrl-" + (id + 1) + "\" value=\"\">";
                }
                row += "<input type=\"hidden\" name=\"audioId-" + (id + 1) + "\" value=\"" + vc['id'] + "\">" + "<input type=\"hidden\" name=\"vc_id\" value=\"" + vc['id'] + "\">" + "<input type=\"hidden\" name=\"rowNo\" value=\"" + (id + 1) + "\">" + menu + "</td>";
                row += "<td width=\"110px\" class=\"vc-date\">" + vc['sdate'] + "</td>";
                row += "<td width=\"55px\" align=\"right\" class=\"vc-duration\">" + vc['duration']+"</td>";
                row += "<td width=\"72px\" class=\"vc-ani\">" + vc['ani'] + "</td>";
                row += "<td width=\"72px\" class=\"vc-dnis\">" + vc['dnis'] + "</td>";
                row += "<td width=\"40px\" class=\"vc-ext\">" + vc['ext'] + "&nbsp;</td>";
                row += "<td width=\"150px\" class=\"vc-user\">" + App.call_blank(vc['agent']) + "</td>";
				if(vlTbl.col_cust_show){
					row += "<td width=\"150px\" class=\"vc-cust\" custid=\"" + vc['cust_id'] + "\">" + App.call_blank(vc['cust']) + "</td>";
					if(vlTbl.col_car_show){
						row += "<td width=\"120px\" class=\"vc-cust-regis\">" + breaklineCars(vc['car_no']) + "</td>";						
					}
				}
                row += "<td width=\"55px\" align=\"center\" class=\"vc-cdirect\" calldirec=\"" + vc['cd_c'] + "\"><span class=\"cd-color-" + vc['cd_c'] + "\">" + vc['cd'] + "</span></td>";
				if (vlTbl.col_keywords_show) {
					row += "<td width=\"35px\" align=\"right\" class=\"ngword\"><span class=\"keyword-tip\" words=\"NG\">" + vc['ngc'] + "</span></td>";
					row += "<td width=\"35px\" align=\"right\" class=\"mustword\"><span class=\"keyword-tip\" words=\"Must\">" + vc['mustc'] + "</span></td>";
				}				
				row += "<td width=\"60px\" align=\"right\">" + vc['bookc'] + "</td>";
                row += "<td width=\"35px\">&nbsp;</td>" + "<td width=\"3px\">&nbsp;</td>" + "</tr>";
                rows += row;
                id++;
          }

          if(rows_count == 0){
            onVoiceReset(0);
            rows = "";
            rows = "<tr><td width=\"1000\" colspan=\"14\" align=\"center\">Record not found.</td></tr>";
          } else {
            onVoiceReset(rows_count);  
            rows_count -= 1; 
          }
		  vc_data = null;
		  summary = null;
		  data = null;
                 
          targetTable.html(rows);

		  rows = null;
		  targetTable = null;
		  
          $('#rec-start').html(number_with_delimiter(parseInt(first_row)));
          $('#rec-end').html(number_with_delimiter(parseInt(first_row + rows_count)));

          resetTableStyle();
		  addBtnTransferCall(found_tranfer);		  
		  progressEnabled(false); 
      }

      function openCallDialog(id){
          var rurl = "<%= url_for(:controller => 'voice_logs',:action => 'show') %>" + "/" + id;
          var window1 = window.open(rurl,"",'menubar=no,scrollbars=no,location=yes,resizable=yes,width=950,height=500');
          //window1.moveTo((screen.width - 950)/2, (screen.height - 500)/2);
      }
	  function loadKeywordTooltip(ele){ }
	  function applyKeywordTooltip(o){ }
	  function applyToolButton(o){
		$(".btntool",o).mouseover(function(){
			if($(".btntool",$(this).parent()).attr("loaded") != "loaded"){
				$(".btntool",$(this).parent()).attr("loaded","loaded").menu({
				minWidth: 115, 
				showDelay: 0,
				hideDelay: 0
				},'.tool-action');
			}
		});
	  }
	  function onClickMoreMenu(o){ }
	  function applyCallTagToolTip(o){
          $(".myToolTip",o).tooltip({
              showBody: " - ",
              positionLeft: true
          });	  	
	  }
	  function showTransferCall(v_id,row_no,o){
	  	 $(".rowof" + row_no).css("display","block");
		 o.html("<img src='<%= image_path('tree_icon/collapse-icon2.gif') %>'/>"); 		 	  	
	  }
	  function hideTransferCall(v_id,row_no,o){
	  	 $(".rowof" + row_no).css("display","none");
		 o.html("<img src='<%= image_path('tree_icon/expand_icon2.gif') %>'/>"); 
	  }
	  function loadTransferCall(v_id,row_no,o){
	  	
		var row_no_prefix = parseInt(zeroPadAfter(row_no,3));
		var row_parent_no = row_no;
		
		$.getJSON("<%=url_for(:controller => 'voice_logs', :action => 'get_transfer_calls') %>",{
			voice_log_id: v_id
		},function(data){
          
		  var rows = "";
		  var vc_data = data;
		  var first_row = 1;
		  var rows_count = 0;
          $.each(vc_data,function(id,vc){
            	
				var row = "";
				var row_no = (row_no_prefix + id + 1);
			    currentVoices[vc['id'].toString()] = {id: vc['id'], url: vc['path'], row: row_no };

                if(first_row <= 0)
                    first_row = parseInt(vc['no']);
                rows_count++;
                			
				var redrow = "";
				if((highLightRows.red_color > 0) && (parseInt(vc['dmin']) >= highLightRows.red_color)){
					redrow = "specify-red";
				}
				
				var menu;
                if((vc['open'] == true) || (vc['open'] == "true")){
					menu = "<ul class=\"call-button\" voice_id='" + vc['id'] + "'><li><img src='<%= image_path('padding2.png') %>'/></li><li act='play' onclick=\"voiceButton("+ vc['id'] +",'play')\"><img src='<%= image_path('speaker.gif') %>'/></li><li act='tool' title=\"Tag - " + vc['tags'] + "\" class=\"btntool myToolTip\" onclick=\"voiceButton("+ vc['id'] +",'tool')\"><img src='<%= image_path('more.gif') %>'/></li></ul>";
                } else {
					vc['path'] = "";
					menu = "<ul class=\"call-button\" voice_id='" + vc['id'] + "'><li><img src='<%= image_path('padding2.png') %>'/></li><li act='no-play'><img src='<%= image_path('speaker2.gif') %>'/></li><li act='tool' title=\"Tag - " + vc['tags'] + "\" class=\"no-btntool myToolTip\"><img src='<%= image_path('more2.gif') %>'/></li></ul>";                  
                }				
				
				row += "<tr class=\"transf_call sub-" + rowCycle[rows_count % 2] + " " + redrow + " " + "myRow rowof" + row_parent_no + "\" id=\"rowAt" + row_no + "\" row_parent=\"" + row_no_prefix + "\" row_no=\"" + row_no + "\"  audiourl=\"" + vc['path'] + "\"" + "\">";
                row += "<td width=\"40px\" class=\"no-item\"><div class=\"div-no\">" + "&nbsp;" + "</div></td>";
                row += "<td width=\"50px\" align=\"center\" class=\"item-ctrl\">";
                if((vc['open'] == true) || (vc['open'] == "true")){
                row += "<input type=\"hidden\" name=\"audioUrl-" + (row_no) + "\" value=\"" + vc['path'] + "\">";
                }
				else {
                row += "<input type=\"hidden\" name=\"audioUrl-" + (row_no) + "\" value=\"\">";
                }
                row += "<input type=\"hidden\" name=\"audioId-" + (row_no) + "\" value=\"" + vc['id'] + "\">";
                row += "<input type=\"hidden\" name=\"vc_id\" value=\"" + vc['id'] + "\">";
                row += "<input type=\"hidden\" name=\"rowNo\" value=\"" + row_no + "\">";
                row += menu + "</td>";
                row += "<td width=\"110px\" class=\"vc-date\">" + vc['sdate'] + "</td>";
                row += "<td width=\"55px\" align=\"right\" class=\"vc-duration\">" + vc['duration']+"</td>";
                row += "<td width=\"72px\" class=\"vc-ani\">" + vc['ani'] + "&nbsp;</td>";
                row += "<td width=\"72px\" class=\"vc-dnis\">" + vc['dnis'] + "&nbsp;</td>";
                row += "<td width=\"40px\" class=\"vc-ext\">" + vc['ext'] + "&nbsp;</td>";
                row += "<td width=\"150px\" class=\"vc-user\">" + vc['agent'] + "</td>";
				if(vlTbl.col_cust_show){
					row += "<td width=\"150px\" class=\"vc-cust\" custid=\"" + vc['cust_id'] + "\">" + App.call_blank(vc['cust']) + "</td>";
					if(vlTbl.col_car_show){
						row += "<td width=\"120px\" class=\"vc-cust-regis\">" + breaklineCars(vc['car_no']) + "</td>";		
					}
				}
                row += "<td width=\"55px\" align=\"center\" class=\"vc-cdirect\" calldirec=\"" + vc['cd_c'] + "\"><span class=\"cd-color-" + vc['cd_c'] + "\">" + vc['cd'] + "</span></td>";
				if (vlTbl.col_keywords_show) {
					row += "<td width=\"35px\" align=\"right\" class=\"ngword\"><span class=\"keyword-tip\" words=\"NG\">" + vc['ngc'] + "</span></td>";
					row += "<td width=\"35px\" align=\"right\" class=\"mustword\"><span class=\"keyword-tip\" words=\"Must\">" + vc['mustc'] + "</span></td>";
				}				
				row += "<td width=\"60px\" align=\"right\">" + vc['bookc'] + "</td>";
                row += "<td width=\"35px\">&nbsp;</td>";
                row += "<td width=\"3px\">&nbsp;</td>" + "</tr>";
                rows += row;
          });
		  
		  var objRow = o.parent().parent();
		  $(rows).insertAfter(objRow);
		  var objTranRow = $(".transf_call");
		  resetTableStyle(objTranRow);	
		  progressEnabled(false);
		  o.html("<img src='<%= image_path('tree_icon/collapse-icon2.gif') %>'/>"); 	
		  
		  objrow = null;
		  objTranRow = null;
		});
		
	  }
	  function TransferButton(ele){
	   var o = $(ele);
	   var v_id = $('input[name=vc_id]',o.parent().parent()).val();
	   var row_no = $('input[name=rowNo]',o.parent().parent()).val();
	   var rowState = o.attr("btnstate");
	   if(rowState=='load'){
		  o.attr("btnstate","show");
		  progressEnabled(true); 
		  loadTransferCall(v_id,row_no,o);
	   } else if(rowState=="show"){
		  o.attr("btnstate","hide");
		  hideTransferCall(v_id,row_no,o);	
	   } else if(rowState=="hide"){
		  o.attr("btnstate","show");
		  showTransferCall(v_id,row_no,o);			   	
	   }  
	  }
	  
	  function addBtnTransferCall(hasTransfer){
        var foundTransfer = false || hasTransfer;
        if(foundTransfer && false){
            $(".btntrf").unbind('click');
    	  	$(".btntrf").click(function(){
    		   var o = $(this);
    		   var v_id = $('input[name=vc_id]',o.parent().parent()).val();
    		   var row_no = $('input[name=rowNo]',o.parent().parent()).val();
    		   var rowState = o.attr("btnstate");
    		   if(rowState=='load'){
    		   	  o.attr("btnstate","show");
    		   	  progressEnabled(true); 
    		   	  loadTransferCall(v_id,row_no,o);
    		   } else if(rowState=="show"){
    		   	  o.attr("btnstate","hide");
    			  hideTransferCall(v_id,row_no,o);	
    		   } else if(rowState=="hide"){
    		   	  o.attr("btnstate","show");
    			  showTransferCall(v_id,row_no,o);			   	
    		   }
    		});            
        }
	  }
      
      function voiceButton(id,act){
		currentVoice = currentVoices[id];
		callAction(act)          
      }
      
      function highLightClickRow(ele){
		  	$("#mytable tr").removeClass('click');
			$(ele).addClass('click');          
      }
      
      function resetTableStyle(o){
        var o = o || $("#mytable");
	applyToolButton(o);
	applyCallTagToolTip(o);
      }

      function checkNum(){
        var carCode = event.keyCode;
        if ((carCode < 48) || (carCode > 57)){
	        event.cancelBubble = true
	        event.returnValue = false;
	    }
      }

	function breaklineCars(cars){
		if(cars.length > 1){
			var a = cars.split(",");
			var b = new Array();
			for(var i=0; i<a.length; i++){
				c = a[i].split(/-| /);
				b.push("<span class='carunderline'>" + c[0] + "</span>" + "-" + "<span class='carunderline'>" + c[1] + "</span>" + "&nbsp;" + "<span class='carunderline'>" + c[2] + "</span>");
			}
			return b.join("<BR/>");			
		}
		return "&nbsp;";
	}
    
	function unBreaklineCars(cars){ return cars; }
    
	function pageChecker(){
		$("input[name=perpage]").change(function(){
			var t = $(this);
			var p = parseInt(t.val()) || ctrlPage.defaultPerPage;
			if((p > 0) && (p <= ctrlPage.maxPerPage)){
				t.val(p);
				ctrlPage.perPage = p;
			} else {
				ctrlPage.perPage = ctrlPage.defaultPerPage;
				t.val(ctrlPage.defaultPerPage);
			} 
		});		
	}
	
	function callAction(a){
	  	switch (true){
			case a == "play":
				onVoiceLoad(parseInt(currentVoice.row));
				break;
		 	case a == "no-play":
			    //alert("You not have permission for this voice");
				break;				
			case a=="more": 
			    openCallDialog(currentVoice.id);
				break;
		 	case a == "no-more":
			    //alert("You not have permission for this voice");
				break;				
			case a=="load":
			    loadAudioFile(currentVoice.id); 
				break;
			case a=="addt": 
				openAddTagDialog(currentVoice.id,currentVoice.row);
				break;
			case a=="remt":
				removeTagDialog(currentVoice.id,currentVoice.row);
				break;
		    case a=="editcust":
				openCustomerDialog(currentVoice.id,currentVoice.row);	
			    break;
			default:
				// not thing
		}
	}
	
	function calculateTableWidth(){
		var total_width = 0;
		$(".tbl-header tr:first th").each(function(){
			total_width += $(this).width();
		});
		cols_width = total_width;
	}
	
	$(document).ready(function(){
      
		  calculateTableWidth();
		  
          $("#div-loading").css("display","none");
          $("#div-exporting").css("display","none");

          var options = {minWidth: 100};
          $("#btnExport").menu(options,'#exportli');

          var options = {minWidth: 100};
          $("#btnPrint").menu(options,'#printli');
         
		  ctrlPage.perPage = ctrlPage.defaultPerPage;
		  
          try{ resizeWindow(); } catch(e){ }
		  pageChecker();
		  
  		  $(".cbtn").click(function(){
			callAction($(this).attr('act'));
		  });
	 });

    </script>
    
<% end %>
<!-- EXPORT -->
<ul id="exportli" style="display:none">
	<li><a href="#" onclick="vc_export(true)">All page</a></li>
	<li><a href="#" onclick="vc_export(false)">Current page</a></li>
</ul>
<ul id="printli" style="display:none">
	<li><a href="#" onclick="vc_print(true)">All page</a></li>
	<li><a href="#" onclick="vc_print(false)">Current page</a></li>
</ul>
<!-- ACTION -->
<ul class="tool-action" style="display:none;">
	<% if permission_by_name('voice_logs-download') and Aohs::MOD_DOWNLOAD_CALL %>
	<li act="Download"><span class="cbtn" act="load">Download File</span></li>
	<% end %>
    <% if true %>
	<% if Aohs::MOD_CUSTOMER_INFO %>
	<li act="EditCust" class="sub-call"><span class="cbtn" act="editcust">Add/Edit Call Detail</span></li>
	<% end %>
	<% end %>
	<% if permission_by_name('favorites-upd') %>
	<li act="AddT"><span class="cbtn" act="addt">Add Tag</span></li>
	<li act="RemoveT"><span class="cbtn" act="remt">Remove Tag</span></li>
	<% end %>
</ul>
<!-- VIEW -->
<div>
	<div id="div-tblCtrl">
      <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td align="left">
             <span id="div-summary">      
			   <span class="summary-title">In:</span> <span id="sCallIn" class="summary-result">0</span>&nbsp;&middot;  
			   <span class="summary-title">Out:</span> <span id="sCallOut" class="summary-result">0</span>&nbsp;&middot;  
			   <span class="summary-title">Other:</span> <span id="sCallOther" class="summary-result">0</span>&nbsp;&middot;
			   <span class="summary-title">Duration:</span> <span id="sDur" class="summary-result">00:00:00</span>
			   <span style="<%= 'display:none;' unless Aohs::MOD_KEYWORDS %>">&nbsp;&middot;  
               <span class="summary-title">NG:</span> <span id="sNG" class="summary-result">0</span>&nbsp;&middot;
               <span class="summary-title">Must:</span> <span id="sMU" class="summary-result">0</span>
			   </span>
             </span>
             <span id="now_tag" style="font-weight:bold;"></span>
             <span id="div-loading" style="display:none;"> <%= image_tag('page_ctrl/load.gif',{:align => 'absmiddle'}) %> Please wait while processing.</span>
             <span id="div-exporting" style="display:none;"> <%= image_tag('page_ctrl/load.gif',{:align => 'absmiddle'}) %> Please wait while export processing.</span>
          </td>
          <td width="440px" align="right">
             View <span id="rec-start">0</span> - <span id="rec-end">0</span>&nbsp;of&nbsp;<span id="rec-all">0</span> 
             <%=image_tag("topgrad.png",{:width => "1px", :height => '20px',:align => 'absmiddle' })%>
             <a href="#" title="First page"><%= image_tag(image_src_path('page_ctrl/first_page.gif'),{:border => 0,:align => 'absmiddle',:alt => 'Goto first page', :onclick => 'gotoFirstPage();'})%></a>
             <a href="#" title="Previous page"><%= image_tag(image_src_path('page_ctrl/previous_page.gif'),{:border => 0,:align => 'absmiddle',:alt => 'Goto previous page',:onclick => 'gotoPrevPage();'})%></a>
             <input title="Number of page(s)" type="text" name="vcpage" id="vcpage" value="" onClick="onClickSelectPage();" onKeyPress="checkNum();" onblur="onSelectPage();">
             <a href="#" title="Next page"><%= image_tag(image_src_path('page_ctrl/next_page.gif'),{:border => 0,:align => 'absmiddle',:alt => 'Goto next page',:onclick => 'gotoNextPage();'})%></a>
             <a href="#" title="Last page"><%= image_tag(image_src_path('page_ctrl/last_page.gif'),{:border => 0,:align => 'absmiddle',:alt => 'Goto last page',:onclick => 'gotoLastPage();'})%></a>
             <%=image_tag("bg004.png",{:width => "1px", :height => '20px',:align => 'absmiddle' })%>
			  Rows/page: <input type="text" name="perpage" id="perpage" value="<%=@numbers_of_display %>" title="number of row(s) per page, max[<%= AmiConfig.get('client.aohs_web.maxNumberOfCallPerPage')%>]">
			 <% if permission_by_name('voice_logs-exp') %>
             <%=image_tag("topgrad.png",{:width => "1px", :height => '20px',:align => 'absmiddle' })%> 
             <a href="#" id="btnExport" title="Text CSV"><%= image_tag(image_src_path('mimetype/spreadsheet.png'),{:border => 0,:align => 'absmiddle',:alt => 'CSV'})%>&nbsp;CSV&nbsp;</a>
             <a href="#" id="btnPrint" title="PDF"><%= image_tag(image_src_path('mimetype/pdf.png'),{:border => 0,:align => 'absmiddle',:alt => 'PDF'})%>&nbsp;PDF&nbsp;</a>&nbsp;
             <% end %>
          </td>
        </tr>
      </table>
    </div>
    <div id="div-tbl-all">	    	
      <div id="div-tbl-outer">	  
      <table cellspacing="0" cellpadding="0" class="tbl-header">
        <tr>	
          <th width="40px">No</th>
          <th width="50px">Action</th>
          <th width="110px"><a href="#" onclick="onClickSortCols('start_time');">DateTime</a></th>
          <th width="56px"><a href="#" onclick="onClickSortCols('duration');">Duration</a></th>
          <th width="72px"><a href="#" onclick="onClickSortCols('ani');">Caller</a></th>
          <th width="72px"><a href="#" onclick="onClickSortCols('dnis');">Dialed</a></th>
          <th width="40px"><a href="#" onclick="onClickSortCols('extension');">Ext</a></th>
          <th width="150px"><a href="#" onclick="onClickSortCols('agent_name');">Agent</a></th>
		  <% if Aohs::MOD_CUSTOMER_INFO %>
		  <th width="150px">Customer</th>
		  <% if Aohs::MOD_CUST_CAR_ID %>
		  <th width="120px">Car No</th>
		  <% end %>
		  <% end %>
          <th width="55px"><a href="#" onclick="onClickSortCols('call_direction');">Direction</a></th>
		  <% if Aohs::MOD_KEYWORDS %>
          <th width="35px"><a href="#" onclick="onClickSortCols('ngword_count');">NG</a></th>
          <th width="35px"><a href="#" onclick="onClickSortCols('mustword_count');">Must</a></th>
		  <% end %>
		  <th width="60px"><a href="#" onclick="onClickSortCols('bookmark_count');">Bookmark</a></th>
          <th width="350px" class="expand-cell">&nbsp;</th>
          <th width="13px">&nbsp;</th>
        </tr>
        <tr>
          <td><%=image_tag("padding.png",{:width => "40px", :height => '1px' })%></td>
          <td><%=image_tag("padding.png",{:width => "50px", :height => '1px' })%></td>
          <td><%=image_tag("padding.png",{:width => "110px", :height => '1px' })%></td>
          <td><%=image_tag("padding.png",{:width => "55px", :height => '1px' })%></td>
          <td><%=image_tag("padding.png",{:width => "72px", :height => '1px' })%></td>
          <td><%=image_tag("padding.png",{:width => "72px", :height => '1px' })%></td>
          <td><%=image_tag("padding.png",{:width => "40px", :height => '1px' })%></td>
          <td><%=image_tag("padding.png",{:width => "150px", :height => '1px' })%></td>
		  <% if Aohs::MOD_CUSTOMER_INFO %>
		  <td><%=image_tag("padding.png",{:width => "150px", :height => '1px' })%></td>
		  <td><%=image_tag("padding.png",{:width => "120px", :height => '1px' })%></td>
		  <% end %>
          <td><%=image_tag("padding.png",{:width => "55px", :height => '1px' })%></td>
		  <% if Aohs::MOD_KEYWORDS %>
          <td><%=image_tag("padding.png",{:width => "35px", :height => '1px' })%></td>
          <td><%=image_tag("padding.png",{:width => "35px", :height => '1px' })%></td>
		  <% end %>		  
		  <td><%=image_tag("padding.png",{:width => "60px", :height => '1px' })%></td>
          <td class="expand-cell"><%=image_tag("padding.png",{:width => "35px", :height => '1px' })%></td>          
          <td><%=image_tag("padding.png",{:width => "15px", :height => '1px' })%></td>
        </tr>
      </table>
      <div id="div-tbl-inner">
        <table cellspacing="0" cellpadding="0" id="mytable">
          <thead></thead>
          <tbody></tbody>
		  <tfoot> 
	          <th><%=image_tag("padding.png",{:width => "40px", :height => '1px' })%></th>
	          <th><%=image_tag("padding.png",{:width => "50px", :height => '1px' })%></th>
	          <th><%=image_tag("padding.png",{:width => "110px", :height => '1px' })%></th>
	          <th><%=image_tag("padding.png",{:width => "55px", :height => '1px' })%></th>
	          <th><%=image_tag("padding.png",{:width => "72px", :height => '1px' })%></th>
	          <th><%=image_tag("padding.png",{:width => "72px", :height => '1px' })%></th>
	          <th><%=image_tag("padding.png",{:width => "40px", :height => '1px' })%></th>
	          <th><%=image_tag("padding.png",{:width => "150px", :height => '1px' })%></th>
			  <% if Aohs::MOD_CUSTOMER_INFO %>
			  <th><%=image_tag("padding.png",{:width => "150px", :height => '1px' })%></th>
			  <th><%=image_tag("padding.png",{:width => "120px", :height => '1px' })%></th>
			  <% end %>
	          <th><%=image_tag("padding.png",{:width => "55px", :height => '1px' })%></th>
			  <% if Aohs::MOD_KEYWORDS %>
	          <th><%=image_tag("padding.png",{:width => "35px", :height => '1px' })%></th>
	          <th><%=image_tag("padding.png",{:width => "35px", :height => '1px' })%></th>
			  <% end %>			  
			  <th><%=image_tag("padding.png",{:width => "60px", :height => '1px' })%></th>
	          <th><%=image_tag("padding.png",{:class => 'expand-cell', :width => "35px", :height => '1px' })%></th>          
	          <th><%=image_tag("padding.png",{:width => "13px", :height => '1px' })%></th>		  	
		  </tfoot>
        </table>
      </div>      
      </div>
    </div>
</div>