<% content_for :header do %>
  <script type="text/javascript">
    var mode = 0;
    $(document).ready(function(){

      $(function(){
        $("#diddetail tr").mouseover(function(){
          $(this).addClass('tr-selected');
        }).mouseout(function(){
          $(this).removeClass('tr-selected');
        });
      });
    });
    
    function del_manager(id,ext){
        $("#delDialog").text("");
        $("#delDialog").append("Are you sure to delete extension number \"<b>" + ext + "</b>\"");
        $("#delDialog").dialog("open");
        $("#delDialog").dialog({
          bgiframe: true,
          title: "Deleting Extension...",
          modal: true,
          buttons:{
            "Cancel": function(){ $(this).dialog("close"); },
            "Ok": function(){ window.location = "<%= url_for(:controller => 'extension',:action => 'delete') %>/" + id ; }
          }
        });
    }

      function del_did(id,ext){
        $("#delDialog").text("");
        $("#delDialog").append("Are you sure to delete dids number \"<b>" + ext + "</b>\"");
        $("#delDialog").dialog("open");
        $("#delDialog").dialog({
          bgiframe: true,
          title: "Deleting Extension...",
          modal: true,
          buttons:{
            "Cancel": function(){ $(this).dialog("close"); },
            "Ok": function(){ window.location = "<%= url_for(:controller => 'extension',:action => 'delete_did') %>/" + id ; }
          }
        });
     }
    </script>
<% end %>
<% content_for :submenu do %>
  <div id="submenu">
    <table width="100%">
      <tr>
        <td align="left">
          <ul>
            <li><%= link_image_tag('Back','back.png',{:controller => "extension",:action => 'index'},{:title => 'Back to extension list'}) %></li>
            <li><%= link_image_tag('Delete extension','delete.png','#',{:onclick => "del_manager(#{@extension.id},\"#{@extension.number}\")",:title => 'Delete'}) %></li>
          </ul>
        </td>
        <td align="right">

        </td>
      </tr>
    </table>
  </div>
<% end %>
<div class="div-form-default-style1">
     <%= form_for(@extension,:url=>{:controller=>'extension',:action=>'update',:id => @extension.id})  do |f| %>
        <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td><span class="span-form-name">Extension information</span></td>
        </tr>
        <tr>
            <td>
            <%=display_frm_error(flash[:message]) %>
            <%=display_frm_success(flash[:notice]) %>
            <table class="tbl-frm-details" cellpadding="0" cellspacing="0">
            <tr>
              <td width="130px" align="left" valign="top"><label>Extension number:</label></td>
              <td width="300px"><%= f.text_field :number,{:class =>'input-text',:size => 5,:maxsize => 20} %><span class="span-require">*</span></td>
            </tr>
            <tr>
              <td width="150px" valign="top"><label for="number">Did(s):</label></td>
              <td><input type="text" name="dids" value="<%= (@extension.dids.empty? ? '' : (@extension.dids.map { |d| d.number } ).join(',') )%>" class="input-text">
			  <br/><span class="note">Did are seprated by ",". Example is 029999999,028888888, ...</span></td>
            </tr>
			<% if Aohs::COMPUTER_EXTENSION_LOOKUP %>
            <tr>
              <td width="150px" valign="top"><label for="number">Computer's Name:</label></td>
              <td><input type="text" name="comp" value="<%= (@extension.computer_extension_map.nil? ? '' : (@extension.computer_extension_map.computer_name) ) %>" class="input-text">
			  <br/><span class="note">Client computer'name</span></td>
            </tr>						
            <tr>
              <td width="150px" valign="top"><label for="number">IP Address:</label></td>
              <td><input type="text" name="ipadr" value="<%= (@extension.computer_extension_map.nil? ? '' : (@extension.computer_extension_map.ip_address) ) %>" class="input-text">
			  <br/><span class="note">IP Address format 0.0.0.0</span></td>
            </tr>	
			<% end %>
            <tr>
              <td></td>
              <td><%= submit_tag "Save",{:class => 'btnAccept'} %></td>
            </tr>
        </table>
      </td>
    </tr>
  </table>
  <% end %>
</div>