<%content_for :header do%>
<%end%>
<% content_for :submenu do %>
  <div id="submenu">
    <table width="100%">
      <tr>
        <td align="left">
          <ul>
            <li><%= link_image_tag('Back','back.png',{:controller => 'extension',:action => 'edit',:id => params[:ext_id]},{:title => 'Back to Extension.'}) %></li>
          </ul>
        </td>
        <td align="right">
        </td>
      </tr>
    </table>
  </div>
<% end %>
<div class="div-form-default-style1">
   
  <table class="tblfrm" width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td><span class="span-form-title">Dids</span></td>
    </tr>
    <tr>
      <td><span class="span-form-name">Dids infomation</span></td>
    </tr>
    <tr>
      <td>
       <% form_for :dids, :url => url_for(:controller => 'extension',:action => 'add_dids') do |f| %>
          <%=display_frm_error(flash[:message])%>
         <table class="tbl-frm-details" cellpadding="0" cellspacing="0">
            <tr>
              <td width="150px" valign="top"><label for="number">Did number :</label></td>
              <td><%= f.text_field :number, :size => 20, :maxsize => 20, :class =>'input-text' %><span class="span-require">*</span>
              <%= f.hidden_field :extension_id,:value=>params[:ext_id] %>
            </tr>
            <tr>
            <td><%= submit_tag "Add Did",{:class => 'btnAccept'} %>&nbsp;&nbsp;<%#= submit_tag "Reset",{:type => 'Reset',:class => 'btnAccept'} %></td>
            </tr>
          </table>
        <% end %>
      </td>
    </tr>
  </table>
</div>