<% content_for :header do %>

<style>
  body { margin: 5px; }
</style>
<% end %>

<h3>Extension Mapping Result</h3>

<table cellspacing="1" width="100%" border="1" style="margin-top:10px;">
  <tr>
    <th>No.</th>
    <th>CTI Login</th>
    <th>Username</th>    
    <th>Extension</th>
    <th>Dids</th>
    <th>Remote IP</th>
    <th>Date/Time</th>
  </tr>
  <% @res.each_with_index do |rs,i| %> 
    <tr> 
      <td><%= i+1 %></td>
      <td><%= rs.cti_agent_id %>&nbsp;</td>
      <td><%= rs.login %>&nbsp;</td>
      <td><%= rs.extension %>&nbsp;</td>
      <td><%= rs.numbers %>&nbsp;</td>
      <td><%= rs.check_time %>&nbsp;</td>
      <td><%= rs.remote_ip %>&nbsp;</td>
    </tr>
  <% end %>
</table>