<% content_for :header do %>
<%= stylesheet_src_path '/jquery/jquery.timepickr/ui-timepickr/dist/themes/default/ui.timepickr.css' %>
<%= javascript_src_path '/jquery/jquery.masked-input/jquery.maskedinput-1.2.2.min.js' %>
<script type="text/javascript">
    $(document).ready(function(){
         $("#agent_expired_date").datepicker({ showAnim: 'fold' ,dateFormat: 'yy-mm-dd'});
		 $("#agent_id_card").mask("9999999999999");
    });
 </script>
<% end %>

<% content_for :submenu do %>
  <div id="submenu">
    <table width="100%">
      <tr>
        <td align="left">
          <ul>
            <li><%= link_image_tag('Back','back.png',{:controller => 'agents',:action => 'index',:page=>(session[:agent_page]||"1"),:status => session[:agent_state]},{:title => 'Back to agent list'}) %></li>
          </ul>
        </td>
        <td align="right">

        </td>
      </tr>
    </table>
  </div>
<% end %>

<div id="div-block-agent">

<div class="div-form-default-style1">
  <table class="tblfrm" width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td><span class="span-form-title">New Agent</span></td>
    </tr>
    <tr>
      <td><span class="span-form-name">Agent infomation</span></td>
    </tr>
    <tr>
      <td>
        <%= form_for :agent, :url => agents_path do |f| %>
        <%=display_frm_error(flash[:message]) %>
          <%= f.hidden_field(:role_id,{:value => Role.where({:name => 'Agent'}).first.id}) %>
          <table class="tbl-frm-details" cellpadding="0" cellspacing="0">
            <tr>
              <td width="150px" valign="top"><label for="login">Username:</label></td>
              <td><%= f.text_field :login, :size => 20, :maxsize => 50, :class =>'input-text' %><span class="span-require">*</span>
              <br/><span class="note">Username must have a minimum require 4 characters and without spaces</span></td>
            </tr>
            <tr>
              <td><label for="display_name">Display name:</label></td>
              <td><%= f.text_field :display_name, :size => 20, :maxsize => 50, :class =>'input-text' %><span class="span-require">*</span></td>
            </tr>
            <tr>
              <td><label for="group">Group :</label></td>
              <td><%= f.collection_select "group_id",Group.find(:all), :id, :name %><span class="span-require">*</span></td>
            </tr>
            <tr>
              <td width="150px" valign="top"><label for="cti_agent_id">CTI Agent ID:</label></td>
              <td><%= f.text_field :cti_agent_id, :size => 20, :maxsize => 50, :class =>'input-text' %></td>
            </tr>
			<!-- ID CARD -->
            <tr>
              <td width="150px" valign="top"><label for="id_card">Citizen ID:</label></td>
              <td><%= f.text_field :id_card, :size => 13, :maxsize => 13, :class =>'input-text' %>
			  <br><span class="note">Citizen ID is composed of 13 digits.</span></td>
            </tr>
            <tr>
              <td><label for="sex">Sex :</label></td>
              <td><%= f.select "sex", [["Undefine","u"], ["Female","f"], ["Male","m"]] %><span class="span-require">*</span></td>
            </tr>
            <tr><td>&nbsp;</td><td></td></tr>
			<% if Aohs::LOGIN_BY_AGENT %>
            <tr>
              <td valign="top"><label for="password">Password:</label></td>
              <td><%= f.password_field :password, :size => 20, :maxsize => 50, :class =>'input-text' %><span class="span-require">*</span>
              <br/><span class="note">Password must have a minimum of 6 characters</span>
              </td>
            </tr>
            <tr>
              <td><label for="password_confirmation">Confirm Password:</label></td>
              <td><%= f.password_field :password_confirmation, :size => 20, :maxsize => 50, :class =>'input-text' %><span class="span-require">*</span></td>
            </tr>
            <tr>
              <td valign="top"><label for="expired_date">Account expired date:</label></td>
              <td><%= f.text_field :expired_date,{:class => 'input-text'}%>
              <br/><span class="note">Format date is "yyyy-mm-dd"</span></td>
            </tr>  
			<% end %>         
            <tr>
              <td></td>
              <td><%= submit_tag "Add",{:class => 'btnAccept'} %>&nbsp;&nbsp;<%#= submit_tag "Reset",{:type => 'Reset',:class => 'btnAccept'} %></td>
            </tr>
            </table>
        <% end %>
      </td>
    </tr>
  </table>
</div>
  
</div>
