<% content_for :header do %>

<% end %>

<% content_for :submenu do %>
  <div id="submenu">
    <table width="100%">
      <tr>
        <td align="left">
          <ul>
            <li><%= link_image_tag('Back','back.png',group_category_path) %></li>
          </ul>
        </td>
        <td align="right">

        </td>
      </tr>
    </table>
  </div>
<% end %>

<div id="div-block-cate">
    <div class="div-form-default-style1">
  <table class="tblfrm" width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td><span class="span-form-title">New Category</span></td>
            </tr>
            <tr>
                <td><span class="span-form-name">Category infomation</span></td>
            </tr>
    <tr>
      <td>
        <% form_tag :controller => 'group_categories',:action => 'create' do %>
        <%= display_frm_error(flash[:message]) %>
          <table class="tbl-frm-details" cellpadding="0" cellspacing="0">
            <tr>
              <td width="130px"><label>Category type:</label></td>
              <td><%= collection_select 'group_category','group_category_type_id', GroupCategoryType.find(:all), :id, :name,:selected => @category_type %></td>
            </tr>
            <tr>
              <td><label>Category name:</label></td>
              <td width="400px">
                 <%= text_field 'group_category', 'value' %><span class="span-require">*</span><br>
                 <span class="note">Name must be required minimum 4 characters.</span>
              </td>
            </tr>
            <tr>
              <td><label>Description:</label></td>
              <td width="400px">
                 <%= text_field 'group_category', 'description' %><span class="span-require">*</span>
              </td>
            </tr>			
            <tr>
              <td></td>
              <td><%= submit_tag "Add category",{:class => 'btnAccept'} %></td>
            </tr>
            </table>
        <% end %>
      </td>
    </tr>
  </table>
</div></div>
