<% content_for :header do %>

<% end %>

<%= javascript_src_path '/jquery/jquery-ui-1.7.2/development-bundle/ui/ui.slider.js' %>

<style type="text/css">
  html,body { overflow-y: hidden; margin: 0; padding: 0;}

  A:link { color: #000000; text-decoration: none}
  A:visited { color: #000000; text-decoration: none}
  A:hover {text-decoration: underline;}

  div#tree, div#realtime, div#realtime-status, div#call-hist{
    float: left;
    padding: 0px 2px 2px 2px;
  }

  div#tabs li {
    cursor: pointer;
    list-style: none;
  }
  div#tabs li.detail-tabs {
    float: left;
    border-width: 1px;
    border-style: solid solid none none;
    border-color: #cccccc;
    padding: 6px 12px 3px 12px;
    margin: 0;
    font-weight: bold;
    color: #384970;
  }

</style>

<script type="text/javascript">

  jQuery.event.add(window, "load", resize_wrap);
  jQuery.event.add(window, "resize", resize_wrap);

  var keyword_available = false;
  var call_transfer_available = false;

  $(document).ready(function(){
    keyword_available = <%= Aohs::MOD_KEYWORDS %>;
    call_transfer_available = <%= Aohs::MOD_CALL_TRANSFER %>;

    initiate_slider();
  });

  function resize_wrap() {
    /* height flag */
    var hf = 6;
    /* window height */
    var wh = $(window).height() - hf;
    /* window width */
    var ww = $(window).width();

    /* define agent tree height */
    $("div#a-tree").css("height", wh);
    
    /* define agent status height */
    var monit_h = $("#monit").height();
    var sts_h = wh - monit_h;
    $("div#ac-status").css("height", sts_h);
  }

</script>
<table id="glob-part">
  <tr>
    <td id="tree" valign="top">
      <%= render :partial => "/call_browser/agent_tree" %>
    </td>
    <td width="100%" valign="top">
      <table id="work-part" cellpadding="0" cellspacing="0" valign="top" width="100%">
        <tr><td valign="top"><%= render :partial => "/call_browser/real_time" %></td></tr>
        <tr><td valign="top"><%= render :partial => "/call_browser/current_status" %></td></tr>
        <tr><td valign="top"><%#= render :partial => "/call_browser/call_history" %></td></tr>
      </table>
    </td>
  </tr>
</table>