<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="description" content="<%= Aohs::WEB_TITLE_NAME %>" />
  <meta name="author" content="<%= Aohs::WEB_AUTHOR %>" />
  <title><%= Aohs::WEB_TITLE_NAME %> <%=Aohs::WEB_VERSION %> - <%= controller.controller_name %>.<%= controller.action_name %></title>
  <link rel="shortcut icon" href="favicon.ico"/>
  <!-- CSS -->
  <%= stylesheet_link_tag 'base' %>
  <%= stylesheet_link_tag '/jquery/jquery-ui-1.8.7.custom/css/cupertino/jquery-ui-1.8.7.custom.css' %>  
  <!-- JS -->
  <%= javascript_include_tag '/jquery/js/jquery-1.4.2.min.js' %>
  <%= javascript_include_tag '/jquery/js/jquery.bgiframe.min.js' %>
  <%= javascript_include_tag '/jquery/jquery-ui-1.8.7.custom/js/jquery-ui-1.8.7.custom.min.js' %>
  <%= javascript_include_tag 'application.js' %>
  <%= yield :header %>
</head>
<body>
<div class="div-container">
	<!-- header -->
	<div class="div-page-header" style="border-bottom:1px #c0c0c0;">
		<table cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td style="padding-top:8px; padding-left:10px;"><span class="hd-name"><a href="<%=url_for({:controller => 'top_panel',:action => 'index'}) %>">AmiVoice<sup>&reg;</sup>Operator's Help System</a></span></td>
				<td align="right">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="2">&nbsp;</td>
			</tr>
		</table>
	</div>
	<!-- body -->
	<div class="div-page-body">
		<!-- sub menu -->
		<%= yield :submenu %>	
		<div id="body" class="body"><%= yield %></div>
	</div>
	<!-- footer -->
	<div class="div-page-footer">
		<div class="footer-detail">
		<table width="100%" style="border-top:0px solid #93B2CC; display:block;">
			<tr>
				<td align="left">
					<div>&copy;<%=Time.new.strftime("%Y") %> AmiVoice Thai Co.,Ltd<br/>AmiVoice Operator's Help System (AOHS) Version <%=Aohs::WEB_VERSION %></div>	
				</td>
				<td align="right">
					<div></div>
				</td>
			</tr>
		</table>
		</div>		
	</div>	
</div>
</body>
</html>
